# Node modules
/node_modules

# TypeScript output
/dist

# Logs
*.log

# OS specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Environment files
.env
.env.prod

# TypeScript-specific
*.tsbuildinfo