@import "tailwindcss";

:root {
  --color-primary: #ad7ffd;
  --color-secondary: rgb(119, 117, 117);
  --color-ternary: rgb(191, 191, 191);
  --color-background: #ffffff;
  --color-button: #ff4fa7;

  --dark-color-primary: #a855f7;
  --dark-color-secondary: #a1a1aa;
  --dark-color-ternary: rgb(125, 125, 125);
  --dark-background: #1f1b35;
  --dark-color-button: #c470d1;
}

* {
  font-family: "Space Grotesk", "Inter", sans-serif;
}

body {
  background: linear-gradient(to bottom right, #fef08a, #fbcfe8);
  color: var(--color-secondary);
}

.dark body {
  background: linear-gradient(to bottom right, #1a132b, #1a132b);
  color: #f4f4f5;
}

.gradient-background {
  background: linear-gradient(to bottom right, #fef08a, #fbcfe8);
}

.dark .gradient-background {
  background: linear-gradient(to bottom right, #1e1e20, #1a132b);
}

.navbar-background {
  background-color: white;
}

.dark .navbar-background {
  background-color: #1a132b;
  box-shadow: 0 0 0 1px #3d2d63;
}

.post-card {
  background-color: var(--color-background);
  border-left: 4px solid var(--dark-color-button);
}

.dark .post-card {
  background-color: #262040;
  border-left: 4px solid #d946ef;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.primary-text {
  color: var(--color-primary);
}

.secondary-text {
  color: var(--color-secondary);
}

.tertiary-text {
  color: var(--color-ternary);
}

.heading-text {
  color: var(--color-button);
}

.dark .primary-text {
  color: var(--dark-color-primary);
}

.dark .secondary-text {
  color: var(--dark-color-secondary);
}

.dark .tertiary-text {
  color: var(--dark-color-ternary);
}

.dark .heading-text {
  color: var(--dark-color-button);
}

.send-button {
  background-color: var(--color-button);
  color: #ffffff;
}

.send-button:hover {
  background-color: var(--dark-color-button);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.disable-button {
  background-color: var(--color-ternary);
  cursor: not-allowed;
  color: #ffffff;
}

.secondary-button {
  background-color: var(--color-primary);
  color: #ffffff;
}

.secondary-button:hover {
  background-color: var(--dark-color-primary);
  cursor: pointer;
}

.dark .send-button {
  background-color: var(--dark-color-button);
  color: #ffffff;
}

.dark .send-button:hover {
  background-color: var(--color-button);
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 0 10px #d946ef88;
}

.dark .secondary-button {
  background-color: var(--dark-color-primary);
  color: #ffffff;
}

.dark .secondary-button:hover {
  background-color: var(--color-primary);
  cursor: pointer;
}

.input-box {
  border: 1px solid var(--dark-color-button);
  border-radius: 9999px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.input-box:focus {
  box-shadow: 0 0 0 1px var(--dark-color-button);
}

.dark .input-box {
  border: 1px solid var(--dark-color-ternary);
  border-radius: 9999px;
  outline: none;
}
.dark .input-box:focus {
  box-shadow: 0 0 0 1px var(--dark-color-ternary);
}

.comment-card {
  background-color: #ffffff;
}

.dark .comment-card {
  background-color: #1f1b35;
}

.create-post-box {
  border: 1px solid var(--dark-color-button);
  border-radius: 0.375rem;
  outline: none;

  color: var(--color-secondary);
}

.create-post-box:focus {
  box-shadow: 0 0 0 1px var(--dark-color-button);
}

.dark .create-post-box {
  border: 1px solid var(--dark-color-ternary);

  color: var(--dark-color-secondary);
}

.dark .create-post-box {
  box-shadow: 0 0 0 1px var(--dark-color-ternary);
}

.followModal {
  background: linear-gradient(
    to bottom right,
    rgba(236, 172, 204, 0.6),
    rgba(255, 236, 139, 0.6),
    rgba(204, 153, 255, 0.6)
  );
}

.dark .followModal {
  background: linear-gradient(
    to bottom right,
    rgba(169, 83, 255, 0.6),
    rgba(70, 70, 70, 0.6)
  );
}
